.table {
  border-collapse: collapse;
  border-radius: 8px;
  outline: 1px solid #e7eff1; /* Use outline instead of border for the outer border */
  overflow: hidden;
  font-weight: 300;
  font-size: 14px;
  background: #FFF;
}

.table th,
.table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e7eff1;
}

.table th {
  background-color: #f1f7f9;
  font-weight: 600;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tr:hover {
  background-color: #f1f7f9;
}
